<h1>Bibliographic Citation Discovery Service</h1>
<div class="intro">Although parsing may be fully successful (<em>e.g.</em> all author given and surnames separated), this proof-of-concept produces very minimal presentation, merely to illustrate the potential.</div>
<h2>Results</h2>
<table id="parse-results">
    <thead>
        <tr>
            <td>Author(s)</td>
            <td>Year</td>
            <td>Title</td>
            <td>Journal</td>
            <td>Volume</td>
            <td>Pages</td>
            <% params["sources"].each do |key, source| %>
              <td><%= key.to_s.upcase %></td>
            <% end unless params["sources"].nil? %>
        </tr>
    </thead>
    <tbody>
<% @records.each do |record| %>
  <tr class="<%= cycle("even", "odd") %> <%= record["status"] %>">
    <% if(record["status"] == "failed") %>
      <td colspan="8"><span title="<%= record["status"] %>">&nbsp;</span><%= record["verbatim"] %></td>
    <% else %>
      <td>
        <% record["author"].each_with_index do |author, i| %>
          <%= author["family"] %>, <%= author["given"] %>
          <% if i < record["author"].length-1 %>
            <%= "|" %>
          <% end %>
        <% end %>
      </td>
      <td><%= record["issued"]["date-parts"][0][0] unless record["issued"].nil? %></td>
      <td><%= record["title"] unless record["title"].nil? %></td>
      <td><%= record["container-title"] unless record["container-title"].nil? %></td>
      <td><%= record["volume"] unless record["volume"].nil? %></td>
      <td><%= record["page"] unless record["page"].nil? %></td>
      <% if @sources.include? "crossref" %>
      <% doi = record["identifiers"].select{ |k| k[:type] == "doi" }[0][:id] rescue nil %>
      <td>
        <% if !doi.nil? %>
          <%= link_to h(doi), "http://dx.doi.org/" << doi, :target => "_blank" %>
        <% end %>
      </td>
      <% end %>
      <% if @sources.include? "bhl" %>
      <% bhl = record["identifiers"].select{ |k| k[:type] == "bhl" }[0][:id] rescue nil %>
      <td>
        <% if !bhl.nil? %>
          <%= link_to h(bhl), bhl, :target => "_blank" %>
        <% end %>
      </td>
      <% end %>
      <% if @sources.include? "biostor" %>
      <% biostor = record["identifiers"].select{ |k| k[:type] == "biostor" }[0][:id] rescue nil %>
      <td>
        <% if !biostor.nil? %>
          <%= link_to h(biostor), biostor, :target => "_blank" %>
        <% end %>
      </td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>