<h1>GrabTag jQuery Plugin</h1>

<h2>Example 1: Marking-Up Bibliographic Citations</h2>
<p>Click a tag, select text within the citation, then expand/contract a tagged region to refine.</p>

<div id="grab-tag">
<div id="grabtag-initializer"></div>
<% @references.each do |reference| %>
<p class="biblio-selector"><%= raw reference %></p>
<% end %>
</div>

<%= form_tag("/selectors", :method => "POST", :autocomplete => "off") do %>
  <%= text_area_tag "grabtag-output", "", :placeholder => "Select parts of above citation to help improve parsing accuracy", :size => "40x5" %>
  <div>
    <!--<%= submit_tag "Submit", :class => "form-button submit-button" %>-->
    <%= submit_tag "Clear All", :class => "form-button clear-button", :type => "reset" %>
  </div>
<% end %>

<h3>Example 1 Configuration</h3>
<xmp><html>
<head>
<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="jquery.grabtag.js"></script>
<script type="text/javascript">
$(function(){
  $('.selector').grabtag({
    'config_ele'   : '#grabtag-initializer'
    'multitag'     : false,
    'tags'         : {
       "journal" : [
         { "author"  : { 'background-color' : '#8dd3c7' }},
         { "date"    : { 'background-color' : '#ffa1ff' }},
         { "title"   : { 'background-color' : '#ffffb3' }},
         { "journal" : { 'background-color' : '#79fc72' }},
         { "volume"  : { 'background-color' : '#72f3fc' }},
         { "pages"   : { 'background-color' : '#7284fc', 'color' : '#fff' }},
         { "doi"     : { 'background-color' : '#ffabab' }} ],
       "book" : [
         { "author"      : { 'background-color' : '#8dd3c7' }},
         { "date"        : { 'background-color' : '#ffa1ff' }},
         { "title"       : { 'background-color' : '#ffffb3' }},
         { "booktitle"   : { 'background-color' : '#d19a41', 'color' : '#fff' }},
         { "pages"       : { 'background-color' : '#7284fc', 'color' : '#fff' }},
         { "edition"     : { 'background-color' : '#fb8072' }},
         { "editor"      : { 'background-color' : '#948669', 'color' : '#fff' }},
         { "publisher"   : { 'background-color' : '#fdb562' }},
         { "institution" : { 'background-color' : '#000', 'color' : '#fff' }},
         { "location"    : { 'background-color' : '#bfbada' }},
         { "isbn"        : { 'background-color' : '#80b1d3' }},
         { "doi"         : { 'background-color' : '#ffabab' }} ],
       "extra" : [ "note", "container", "retrieved", "tech", "translator", "unknown", "url" ]
    },
    'active_group' : 'journal',
    'active_tag'   : 'author',
    'onActivate'   : function(obj, data) {
      $('#grabtag-output').val(data.content);
    },
    'onTagged'     : function(obj, data) {
       console.log(data.tag.type + ": " + data.tag.value);
       $('#grabtag-output').val(data.content);
    }
  });
});
</script>
</head>
<body>
<div id="grabtag-initializer"></div>
<p class="selector">My content here.</p>
<textarea id="grabtag-output"></textarea>
</body>
</html></xmp>

<h2>Example 2: Marking-up Free-form Text</h2>
<div id="freeform-config"></div>
<p class="freeform">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sodales nunc pharetra orci venenatis laoreet semper enim molestie. Fusce aliquet sagittis lobortis. Vivamus in nisi sem, vitae accumsan massa. Donec bibendum, ipsum a fringilla placerat, mi mi tincidunt mauris, sed dapibus diam odio in dui. Curabitur in tincidunt ipsum. Pellentesque posuere leo libero. Maecenas sit amet urna et magna varius tincidunt. Pellentesque urna ante, ornare vitae suscipit eu, tempus eu elit. Fusce id turpis quis massa lobortis sodales. Integer in nulla lectus, in tincidunt elit. Sed tempus malesuada sem ac faucibus. Aenean eleifend consectetur nisl ut consectetur. Nulla facilisi. Cras ullamcorper tincidunt convallis. Suspendisse varius vestibulum tortor eget egestas.</p>
<%= form_tag("/selectors", :method => "POST", :autocomplete => "off") do %>
  <%= text_area_tag "freeform-output", "", :size => "40x2" %>
<% end %>

<h3>Example 2 Configuration</h3>
<xmp>
<script type="text/javascript">
  var config = {
    tags       : ["color", "shape"],
    active_tag : 'color',
    config_ele : '#freeform-config',
    onTagged   : function(obj, data) {
      $("#freeform-output").val(data.tag.type + ':' + data.tag.value);
    }
  };
  $(".freeform").grabtag(config);
</script>
</xmp>

<h2>Configuration Options</h2>
<p>Pre-selections can be enabled as shown in Example 1 for the <em>volume</em> tag. To do so, the region should be marked-up as &lt;span data-grabtag="volume"&gt;242(1)&lt;/span&gt;</p>
<dl>
  <dt>config_ele</dt><dd>The element where a clickable, control panel will be created for users to choose tags</dd>
  <dt>multitag</dt><dd>true or false to allow or disallow tagging with the same tag</dd>
  <dt>tags</dt><dd>A simple collection of tags such as ["this", "that", "other"] or a collection of tags in groups such as { "group1" : ["this", "that", "other"], "group2" : ["here", "there", "nowhere"] }. Each tag can also be optionally styled as shown in the example above, otherwise a sample of 15 included colors will be used.</dd>
  <dt>active_group</dt><dd>Group of tags to be made active on load, if arranged in groups</dd>
  <dt>active_tag</dt><dd>Tag to be made active on load</dd>
  <dt>onActivate</dt><dd>Callback function that executes after the control panel initialized; params are (obj, data), the former is the jQuery object being extended and the latter is one object { 'content' : 'marked up content' }<dd>
  <dt>beforeTagged</dt><dd>Callback function that executes before a tag is created; param is (obj), the jQuery object being extended</dd>
  <dt>onTagged</dt><dd>Callback function that executes after a tag is created or expanded/contracted; params are (obj, data), the former is the jQuery object being extended and the latter is an object containing { 'tag' : { 'type' : 'author', 'value' : 'MACDONALD'}, 'content' : 'marked up content' }</dd>
  <dt>onMultitagWarning</dt><dd>Callback function that can override default warning when user attempts to create multiple tags of same type and multitag (above) is set to false</dd>
  <dt>onOverlapWarning</dt><dd>Callback function that can override default warning when user attempts to expand tag into pre-existing tag</dd>
</dl>

<h2>Limitations</h2>
<p>Internet Explorer &lt; 9 will not (currently) work because it does not support the range selection method getRangeAt(0).</p>

<h2>Downloads</h2>
<p>jQuery plug-in: <%= link_to 'jquery.grabtag.js', root_url.to_s << 'assets/jquery.grabtag.js' %></p>
<p>Stylesheet: <%= link_to 'grabtag.css', root_url.to_s << 'assets/selectors.css' %></p>