<h1>Bibliographic Citation Parsing &amp; Discovery jQuery Plugin</h1>

<h2>Example - Pre-compiled List</h2>
<% @references.each do |reference| %>
<p class="biblio-item"><%= reference %></p>
<% end %>

<h2>Example - User Input</h2>
<%= form_tag("/citations", :method => "POST") do %>
  <%= text_field_tag :citations, nil, :placeholder => "Paste full bibliographic citation (or DOI) here and press enter...", :class => 'biblio-input' %>
<% end %>
<h3>Examples for copy/paste</h3>
<div class="examples">Solodovnikov, A. 2012. Rove beetle subtribes Quediina, Amblyopinina and Tanygnathinina: systematic changes affecting Central European fauna (Coleoptera, Staphylinidae, Staphylinini). <em>ZooKeys</em> <strong>162</strong>: 25-42.</div>
<div class="examples">10.3897/zookeys.166.1802</div>

<h2>Configuration</h2>
<xmp>
<script type="text/javascript" src="jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="jquery.refparser.js"></script>
<script type="text/javascript">
$(function(){

  // Configure some options
  var options = {

     // JSONP-based web service parser
     parserUrl   : "<%= url_for( :controller => 'citations', :action => 'index', :only_path => false ) %>",

     // select 3rd party sources to query, pass empty array if no querying desired
     sources     : ["crossref", "bhl", "biostor"],

     // set the target for the final click event (e.g. '_blank')
     target      : "",

     // set a timeout in milliseconds, max 10000 (should be at least 5000 because BHL can be slow)
     timeout     : 5000,

     // URL or path to the icons directory & icons themselves
     iconPath  : "<%= root_url.to_s << 'assets/' %>",

     // class for the icons for more control over styling
     iconClass : 'refparser-icon',

     // title/alt text and icons
     icons     : {
       search   : {
         title : "Search",
         icon  : 'magnifier.png'
       },
       loader   : {
         title : "Loooking for reference...",
         icon  : "ajax-loader.gif"
       },
       timeout  : {
         title : "Timeout",
         icon  : "clock_red.png"
       },
       doi      : {
         title : "To publisher...",
         icon  : "world_go.png"
       },
       bhl      : {
         title : "Biodiversity Heritage Library...",
         icon  : "page_white_go.png"
       },
       biostor  : {
         title : "BioStor...",
         icon  : "page_white_go.png"
       },
       scholar  : {
         title : "Search Google Scholar...",
         icon  : "g_scholar.png"
       }
     },

     /* Callbacks */
     onSuccessfulParse : function(obj, data){
       /* 'obj' is the jQuery object, 'data' is a CITEPROC JS object for parsed reference (examine the Firebug console) */
     },
     onFailedParse     : function(obj){
       /* 'obj' is the jQuery object */
     },
     onError           : function(obj){
       /* 'obj' is the jQuery object */
     }
 };

 /* Pre-compiled list of citations */
 $(".biblio-entry").refParser(options);

 /* User input box */
 $(".biblio-input").refParser(options);

});
</script>

<body>
<!-- Pre-compiled list of citations -->
<p class="biblio-entry">My reference here that may include HTML.</p>

<!-- User input box -->
<input class="biblio-input"></input>
</body>
</xmp>

<h2>Download</h2>
<p>jQuery plug-in: <%= link_to 'jquery.refparser.js', root_url.to_s << 'assets/jquery.refparser.js' %></p>

<h2>Icons</h2>
<%= image_tag("magnifier.png") %>
<%= image_tag("ajax-loader.gif") %>
<%= image_tag("clock_red.png") %>
<%= image_tag("world_go.png") %>
<%= image_tag("page_white_go.png") %>
<%= image_tag("g_scholar.png") %>
<p><%= link_to 'famfamfam silk icons', 'http://www.famfamfam.com/lab/icons/silk/' %></p>