<h3>Paste a List of Citations</h3>

<%= form_tag("/parser", :method => "POST") do %>
  <%= text_area_tag(:citations, "", :size => "80x20") %>
  <%= field_set_tag 'Discovery Sources' do %>
    <%= check_box_tag 'sources[crossref]', 'yes', true %>
    <%= label(:crossref, :name, 'CrossRef') %>
    <%= check_box_tag 'sources[bhl]', 'yes', true %>
    <%= label(:bhl, :name, 'BHL') %>
    <%= check_box_tag 'sources[biostor]', 'yes', true %>
    <%= label(:source, :name, 'BioStor') %>
    <span>Deselect all checkboxes to limit execution to parsing</span>
  <% end %>
  <div>
    <%= submit_tag "Submit", :class => "form-button submit-button" %>
  </div>
<% end %>